body {
  background-color: black;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.header {
  width: 100%;
  height: 69px;
  display: block;
  background-color: black;
  position: fix;
  top: 0px;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  float: left;
  padding: 10px;
}

.navigation {
  float: right;
  height: 100%;
  margin: 0 auto;
}

.navigation a {
  height: 100%;
  display: flex;
  float: left;
  padding: 0px 2px;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  list-style-type: none;
  height: 100%;
  text-decoration: underline;
  color: white;
  padding: 10px;
}

.mission-container {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*lpgxmc*_ga*MzI2MDIzMDczOS4xNjU3MjMwMzky*_ga_3LRZM6TM9L*MTY1NzMxMjc0Mi40LjEuMTY1NzMxMjc0NC41OA..");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
}

.text-over {
  background-color: black;
  text-align: center;
  margin: auto;
  width: 100%;
}

.trend-container {
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trend img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

.banner {
  height: 700px;
  max-width: 1200px;
  margin: 30px auto auto;
  padding: 85px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1na3efv*_ga*MzI2MDIzMDczOS4xNjU3MjMwMzky*_ga_3LRZM6TM9L*MTY1NzMxMjc0Mi40LjEuMTY1NzMxMjc0NC41OA..");
  background-repeat: no-repeat;
  background-position: center;
}
.box-container {
  /* height: 200px;
    max-width: auto; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 225px;
  width: 225px;
  margin: 10px;
  padding: 5px 15px 25px 15px;
  background-color: black;
  opacity: 0.88;
}

.footer{
    height: 200px;
    margin: 0;

}

.copyright{
    display: flex;
    /* text-align: left; */
    margin: 20px;
}